@model IEnumerable<ClothingStore.Models.Categorie>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClothingStore.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <div class="flex">
        @foreach (var clothe in Model)
        {
            
       
            
        

            @foreach (var item in clothe.clothes)
            {
                

                <div class="images"><img class="logo" src="/photos/Dragon_B.jpg" alt="logo"> <p>@Html.DisplayFor(model => item.ClotheName)</p>  <p>@Html.DisplayFor(model => item.Prix)</p> <div class="overlay"> <br> </div></div>
            }

        }
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
