
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStore</title>
    <link href="~/css/footer.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Page_Accueil_css.css" rel="stylesheet" type="text/css" />
     <link href="~/css/Page_Test.css" rel="stylesheet" type="text/css" />
  
    
</head>
  <body>

    @Html.Partial("menu")
    
    @RenderBody()

    @Html.Partial("footer")


   
    



    
    @RenderSection("Scripts", required: false)
</body>
</html>
